<html>
<head>
<style>
p.first {
  border-style: solid;
  border-color: red;
}

p.sec {
  border-style: solid;
  border-color: green;
} 

p.third {
  border-style: dotted;
  border-color: blue;
} 
</style>
</head>

<body style= "background-color:lightpink;">   

<h2>Three Music Genres</h2>

<p class="first">Rock Music</p>
<p class="sec">Rhythm and Blues</p>
<p class="third">Jazz</p>

</body>
</html>
